<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-success"> 
        <div class="panel-heading">Snickers</div>
        <div class="panel-body"><img src="../../assets/acc12.jpg "  style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          
          <h2 class="product-name">Stylish Snickers</h2>
          <p class="price">&#x20b9; 1500.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart" (click)="selectedItem(Item)"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
          </div> -->
        </div>
      </div> 
      
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Bracelet</div>
        <div class="panel-body"><img src="../../assets/acc2.jpg"  style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          
          <h2 class="product-name"> Trending Bracelets</h2>
          <p class="price"> &#x20b9; 1200.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button></div> -->
      </div>
    </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Earrings</div>
        <div class="panel-body"><img src="../../assets/acc3.jpg"  style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          <h2 class="product-name"> Ear Rings</h2>
          <p class="price"> &#x20b9; 500.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">Leather Shoes</div>
        <div class="panel-body"><img src="../../assets/acc4.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          <h2 class="product-name">Shoes</h2>
          <p class="price">&#x20b9; 1800.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Men Watches</div>
        <div class="panel-body"><img src="../../assets/acc5.jpg" height="50" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">
          <h3 class="product-name"> Watches </h3>
          <p class="price"> &#x20b9; 1500.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <i class="fa fa-INR"</i> -->
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">Scarfs</div>
        <div class="panel-body"><img src="../../assets/acc6.png" class="img-responsive" style="width:100%" alt="Image"></div>
         <div class="panel-footer">
          <h3 class="product-name"> Red Scraf</h3>
          <p class="price"> &#x20b9; 300.00</p>
          <a class="btn btn-success" routerLink="/product">Go To Products</a>
          <!-- <div class="product-btns">
            <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<br>
  <!-- <div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-success">
          <div class="panel-heading">Finger Rings</div>
          <div class="panel-body"><img src="../../assets/acc7.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <h3 class="product-name">Rings</h3>
            <p class="price">&#x20b9; 150.00</p>
            <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
            </div>  
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">Handbag</div>
          <div class="panel-body"><img src="../../assets/acc8.jpg" height="115px" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <h3 class="product-name">Handbag</h3>
            <p class="price"> &#x20b9; 1400.00</p>
            <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">Women Watches</div>
          <div class="panel-body"><img src="../../assets/acc10.png" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <h3 class="product-name">Watches</h3>
            <p class="price">&#x20b9; 150.00</p>
            <div class="product-btns">
              <button class="success-btn Go To Products-to-cart"><i class="fa fa-shopping-cart"></i> Go To Products to Cart</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      
</div><br><br> -->


